<h1 class="title-white">CONTACT ME</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4 contact-set">
        <div class="row">
          <%= link_to image_tag("phone_icon.png", :class =>"contact-icon"), "tel:8183660819" %>
        </div>
        <div class="row contact-text">
          <p>  <%= link_to '+52 (81) 8366 0819', "tel:8183660819" %></p>
        </div>
    </div>
    <div class="col-sm-4 contact-set">
        <div class="row">
          <%= link_to image_tag("email_icon.png", :class =>"contact-icon"), "mailto:hectormgwake@gmail.com" %>
        </div>
        <div class="row contact-text">
          <p>  <%= link_to 'hectormgwake@gmail.com', "mailto:hectormgwake@gmail.com" %></p>
        </div>
    </div>
    <div class="col-sm-4 contact-set">
        <div class="row">
          <%= link_to image_tag("linked_in_circle.png", :class =>"contact-icon"), "https://linkedin.com/in/HectorMMG", :target => "_blank" %>
        </div>
        <div class="row contact-text">
          <p><%= link_to 'HectorMMG', "https://linkedin.com/in/HectorMMG", :target => "_blank" %></p>
        </div>
    </div>
  </div>
</div>
