<div class="row">
  <div class="work-featurette">
  	<div class="work-featurette-header">
  		<h1>Freelancing</h1>
  	</div>
    <div class="contain-featurette">
	    <h2 class="sub-exp-title">FULL STACK DEVELOPER</h2>
      <p>Multiple commisioned web and desktop apps</p>
      <p>Since May 2014</p>
	    <div class="row thumbnail-row">
	      <div class="col-sm-4">
	        <%= link_to image_tag("felc_tn", :class => "site-thumbnail"), "http://cscfelc.herokuapp.com", :target => "_blank"%>
          <p class="tn-caption">
          <%= link_to 'FELC Bank App [Rails]', "http://cscfelc.herokuapp.com", :target => "_blank"%>
          </p>
	      </div>
        <div class="col-sm-4">
	        <%= link_to image_tag("cer_tn", :class => "site-thumbnail"), "http://cercp.herokuapp.com", :target => "_blank"%>
          <p class="tn-caption">
          <%= link_to 'CER Website [Rails]', "http://cercp.herokuapp.com", :target => "_blank"%>
          </p>
	      </div>
        <div class="col-sm-4">
	        <%= link_to image_tag("game_unav.png", :class => "site-thumbnail"), "https://github.com/TestigosdeJavascript/Programagos", :target => "_blank"%>
          <p class="tn-caption">
          <%= link_to 'Programagos [js]-(School - Coming soon)', "https://github.com/TestigosdeJavascript/Programagos", :target => "_blank"%>
          </p>
	      </div>
	    </div>
      <div class="row thumbnail-row">
        <div class="col-sm-4">
	        <%= link_to image_tag("game_unav.png", :class => "site-thumbnail"), "https://gist.github.com/HectorMg/ea37d218a4add464c8c6", :target => "_blank"%>
          <p class="tn-caption">
          <%= link_to 'Mahjong [C++] - (School project Gist)', "https://gist.github.com/HectorMg/ea37d218a4add464c8c6", :target => "_blank"%>
          </p>
	      </div>
        <div class="col-sm-4">
	        <%= link_to image_tag("orss_tn.png", :class => "site-thumbnail"), "https://github.com/HectorMg/ORSS", :target => "_blank"%>
          <p class="tn-caption">
          <%= link_to 'ORSS [Java/JavaFX]', "https://github.com/HectorMg/ORSS", :target => "_blank"%>
          </p>
	      </div>
      </div>
  	</div>
  </div>
</div>
