<header class="landing" data-scroll-index="0">
  <div class="container">
    <div class="greeting">
      <h1 id="greet">Héctor Morales</h1>
      <h2 class="">Software Developer.</h2>
      <h2 class="">Engineer.</h2>
      <h2 class="">Person.</h2>
    </div>
    <div class="container">
      <div class="greet-btn-set">
        <a href="" data-scroll-nav="1" class="btn btn-landing">ABOUT<span class="glyphicon glyphicon-chevron-right"></span></a>
        <a href="" data-scroll-nav="4" class="btn btn-landing">CONTACT<span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
    <div class="row icon-row">
      <%= link_to image_tag('facebook_icon.png', :class => "soc-med-icon"), "https://www.facebook.com/HectorMMG", :target => "_blank" %>
      <%= link_to image_tag('linked_in_icon.png', :class => "soc-med-icon"), "https://www.linkedin.com/in/HectorMMG", :target => "_blank" %>
      <%= link_to image_tag('github_icon.png', :class => "soc-med-icon"), "https://www.github.com/HectorMg", :target => "_blank" %>
    </div>
  </div>
</header>
<div class="about" data-scroll-index="1">
  <div class="container">
    <h1 class="title">ABOUT ME</h1>
    <div class="container">
      <div class="row">
          <%= image_tag('headshot.png', class: 'img-circle headshot') %>
          <span class="about-me">
            I am a 19 year old
            <%= link_to('software developer', "http://github.com/HectorMg", :target => "_blank") %> ,
            <%= link_to('wakeboarder', "https://www.facebook.com/Hector-Morales-Athlete-194967410544455/?fref=ts", :target => "_blank") %> ,
            and technology enthusiast from Monterrey, NL, Mexico. I'm also a passionate and hardworking engineering student
            in the process of getting my engineering degree. Whenever I'm not studying I'm either laying down code, reading
            interesting articles or out on the lake.
          </span>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row education" data-scroll-index="2">
  <%= render 'main_page/about_education' %>
</div> -->
<div class="row experience" data-scroll-index="3">
  <%= render 'main_page/about_work' %>
</div>
<div class="row contact" data-scroll-index="4">
  <%= render 'main_page/contact' %>
</div>
