<!DOCTYPE html>
<html>
<head>
  <title>MgDev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="bg"></div>
      <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!-- Responsive nav -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= image_tag('logob&w.png', class: 'nav-logo') %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Start', '#' %></li>
            <li><%= link_to 'About Me', '#' %></li>
            <li><%= link_to 'Projects', '#' %></li>
            <li><%= link_to 'Contact', '#' %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <header class="landing">
      <div class="container">
        <div class="greeting">
          <h1 id="greet">Mg Web Development</h1>
        </div>
      </div>
    </header>
    <%= yield %>

</body>
</html>
