<!DOCTYPE html>
<html>
<head>
  <title>MgDev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600,600italic,700,400italic' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <div class="bg"></div>
      <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!-- Responsive nav -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="logo" class="nav-logo"></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="" data-scroll-nav="0">Start</a></li>
            <li><a href="" data-scroll-nav="1">About Me</a></li>
            <li><%= link_to 'Projects', '#' %></li>
            <li><%= link_to 'Contact', '#' %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <%= yield %>

</body>
</html>
